.banner > * {
    padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}
.banner {
    background-color: #242943;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 6em 0 2em 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    height: 60vh;
    margin-bottom: -3.25em;
    max-height: 32em;
    min-height: 22em;
    position: relative;
    top: -3.25em;
}
.banner * {
    animation-duration: 3s;
    animation-name: entry;
}
@keyframes entry {
    from {
        color: transparent;
        transform: translate(-5%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

.banner::before {
    -moz-transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    pointer-events: none;
    background-color: #242943;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
/* @keyframes entryImage {
    from {
        color: transparent;
        transform: translate(-5%, 0);
    }
    to {
        transform: translate(0, 0);
        background-image: url("../public/images/banner.webp");
    }
} */
.banner h1 {
    font-size: 3.25em;
}

.banner > .inner {
    -moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease,
        -webkit-filter 0.5s ease;
    -webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease,
        -webkit-filter 0.5s ease;
    -ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease,
        -webkit-filter 0.5s ease;
    transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease,
        -webkit-filter 0.5s ease;
    padding: 0 !important;
    position: relative;
    z-index: 2;
}

.banner > .inner .image {
    display: none;
}

.banner > .inner header {
    width: auto;
}

.banner > .inner header > :first-child {
    width: auto;
}

.banner > .inner header > :first-child:after {
    max-width: 100%;
}

.banner > .inner .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 0 2em 0;
}

.banner > .inner .content > * {
    margin-right: 1.5em;
    margin-bottom: 0;
}

.banner > .inner .content > :last-child {
    margin-right: 0;
}

.banner > .inner .content p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.banner.major {
    height: 75vh;
    min-height: 30em;
    max-height: 50em;
}

.banner.major.alt {
    opacity: 0.75;
}

.banner.style1:after {
    background-color: #6fc3df;
}

.banner.style2:after {
    background-color: #8d82c4;
}

.banner.style3:after {
    background-color: #ec8d81;
}

.banner.style4:after {
    background-color: #e7b788;
}

.banner.style5:after {
    background-color: #8ea9e8;
}

.banner.style6:after {
    background-color: #87c5a4;
}

body.is-preload .banner:after {
    opacity: 1;
}

body.is-preload .banner > .inner {
    -moz-filter: blur(0.125em);
    -webkit-filter: blur(0.125em);
    -ms-filter: blur(0.125em);
    filter: blur(0.125em);
    -moz-transform: translateX(-0.5em);
    -webkit-transform: translateX(-0.5em);
    -ms-transform: translateX(-0.5em);
    transform: translateX(-0.5em);
    opacity: 0;
}

@media screen and (max-width: 1280px) {
    .banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    .banner {
        padding: 5em 0 1em 0;
        height: auto;
        margin-bottom: -2.75em;
        max-height: none;
        min-height: 0;
        top: -2.75em;
    }

    .banner h1 {
        font-size: 2em;
    }

    .banner > .inner .content {
        display: block;
    }

    .banner > .inner .content > * {
        margin-right: 0;
        margin-bottom: 2em;
    }

    .banner.major {
        height: auto;
        min-height: 0;
        max-height: none;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        padding: 6em 0 2em 0;
    }

    .banner > .inner .content p br {
        display: none;
    }

    .banner.major {
        padding: 8em 0 4em 0;
    }
}
header.major {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    margin-bottom: 2em;
}

header.major > :first-child {
    margin-bottom: 0;
    width: calc(100% + 0.5em);
}

header.major > :first-child:after {
    content: "";
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

header.major > p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
}

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

ul.actions.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

ul.actions.special li:first-child {
    padding-left: 0;
}

ul.actions.stacked {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
}

ul.actions.stacked li {
    padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    width: calc(100% + 1em);
}

ul.actions.fit li {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

ul.actions.fit li > * {
    width: 100%;
}

ul.actions.fit.stacked {
    width: 100%;
}

.button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover,
.button:active {
    box-shadow: inset 0 0 0 2px #9bf1ff;
    color: #9bf1ff;
}

.button:active {
    background-color: rgba(155, 241, 255, 0.1);
    box-shadow: inset 0 0 0 2px #53e3fb;
    color: #53e3fb;
}

input[type="button"].next,
.button.next {
    padding-right: 4.5em;
    position: relative;
}

input[type="button"].next:before,
input[type="button"].next:after,
.button.next:before,
.button.next:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 1.5em;
    top: 0;
    width: 36px;
}

input[type="button"].next:before,
button.next:before,
.button.next:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
}

input[type="button"].next:after,
button.next:after,
.button.next:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
}

input[type="button"].next:hover:after,
input[type="button"].next:active:after,
button.next:hover:after,
button.next:active:after,
.button.next:hover:after,
.button.next:active:after {
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    input[type="submit"].next,
    input[type="reset"].next,
    input[type="button"].next,
    button.next,
    .button.next {
        padding-right: 5em;
    }
}
