/* Actions */

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

/* Form */ 

.form {
    margin: 0 0 2em 0;
}

    .form > :last-child {
        margin-bottom: 0;
    }

    .form > .fields {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 3em);
        margin: -1.5em 0 2em -1.5em;
    }

        .form > .fields > .field {
            -moz-flex-grow: 0;
            -webkit-flex-grow: 0;
            -ms-flex-grow: 0;
            flex-grow: 0;
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            padding: 1.5em 0 0 1.5em;
            width: calc(100% - 1.5em);
        }

            .form > .fields > .field.half {
                width: calc(50% - 0.75em);
            }

            .form > .fields > .field.third {
                width: calc(100%/3 - 0.5em);
            }

            .form > .fields > .field.quarter {
                width: calc(25% - 0.375em);
            }