.wrapper {
    -moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    -webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease,
        opacity 0.375s ease-out;
    -ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    padding-top: 3.25em;
}

section.special,
article.special {
    text-align: center;
}

header.major {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    margin-bottom: 2em;
}

header.major > :first-child {
    margin-bottom: 0;
    width: calc(100% + 0.5em);
}

header.major > :first-child:after {
    content: "";
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

header.major > p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
}

body.is-ie header.major > :first-child:after {
    max-width: 9em;
}

body.is-ie header.major > h1:after {
    max-width: 100% !important;
}

@media screen and (max-width: 736px) {
    header.major > p br {
        display: none;
    }
}

.box {
    border: solid 1px rgba(212, 212, 255, 0.1);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

ul.pagination {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.pagination li {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
}

ul.pagination li > .page {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: 0;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 0.125em;
    min-width: 1.5em;
    padding: 0 0.5em;
    text-align: center;
}

ul.pagination li > .page.active {
    background-color: #ffffff;
    color: #242943;
}

ul.pagination li > .page.active:hover {
    background-color: #9bf1ff;
    color: #242943 !important;
}

ul.pagination li > .page.active:active {
    background-color: #53e3fb;
}

ul.pagination li:first-child {
    padding-right: 0.75em;
}

ul.pagination li:last-child {
    padding-left: 0.75em;
}

@media screen and (max-width: 480px) {
    ul.pagination li:nth-child(n + 2):nth-last-child(n + 2) {
        display: none;
    }

    ul.pagination li:first-child {
        padding-right: 0;
    }
}

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 0 !important;
}

.tiles + * {
    border-top: 0 !important;
}

.tiles article {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease,
        -webkit-filter 1s ease;
    -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease,
        -webkit-filter 1s ease;
    -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease,
        -webkit-filter 1s ease;
    transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
    padding: 4em 4em 2em 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;
}

.tiles article .image {
    display: none;
}

.tiles article header {
    position: relative;
    z-index: 3;
}

.tiles article h3 {
    font-size: 1.75em;
}

.tiles article h3 a:hover {
    color: inherit !important;
}

.tiles article .link.primary {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.tiles article:before {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.tiles article:after {
    background-color: rgba(36, 41, 67, 0.25);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.tiles article:hover:before {
    opacity: 0;
}

.tiles article.is-transitioning {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -moz-filter: blur(0.5em);
    -webkit-filter: blur(0.5em);
    -ms-filter: blur(0.5em);
    filter: blur(0.5em);
    opacity: 0;
}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
    width: 60%;
}

.tiles article:nth-child(6n - 5):before {
    background-color: #6fc3df;
}

.tiles article:nth-child(6n - 4):before {
    background-color: #8d82c4;
}

.tiles article:nth-child(6n - 3):before {
    background-color: #ec8d81;
}

.tiles article:nth-child(6n - 2):before {
    background-color: #e7b788;
}

.tiles article:nth-child(6n - 1):before {
    background-color: #8ea9e8;
}

.tiles article:nth-child(6n):before {
    background-color: #87c5a4;
}

@media screen and (max-width: 1280px) {
    .tiles article {
        padding: 4em 3em 2em 3em;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }
}

@media screen and (max-width: 980px) {
    .tiles article {
        width: 50% !important;
    }
}

@media screen and (max-width: 736px) {
    .tiles article {
        padding: 3em 1.5em 1em 1.5em;
        height: 16em;
        max-height: none;
        min-height: 0;
    }

    .tiles article h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .tiles {
        display: block;
    }

    .tiles article {
        height: 20em;
        width: 100% !important;
    }
}

.main {
    background-color: #2a2f4a;
}

.main > * {
    border-top: solid 1px rgba(212, 212, 255, 0.1);
}

.main > *:first-child {
    border-top: 0;
}

.main > * > .inner {
    padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

@media screen and (max-width: 736px) {
    .main > * > .inner {
        padding: 3em 0 1em 0;
        width: calc(100% - 3em);
    }
}

.main.alt {
    background-color: transparent;
    border-bottom: solid 1px rgba(212, 212, 255, 0.1);
}
