.header.reveal {
    -moz-animation: reveal-header 0.35s ease;
    -webkit-animation: reveal-header 0.35s ease;
    -ms-animation: reveal-header 0.35s ease;
    animation: reveal-header 0.35s ease;
}

.header.alt {
    -moz-transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
}

.menu {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(36, 41, 67, 0.98);
    top: 0;
    text-decoration: none;
}

.menu > .links {
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: block;
    border: 0;
}
.menu > .links > li {
    list-style: none;
    align-items: center;
    padding: 0;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 4;
    text-decoration: none;
    display: block;
    border: 0;
}
.menu > .links > li > a {
    text-decoration: none;
}
.menuA {
    text-decoration: none;
}

.noStyleButton {
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 24px 32px;
    content: "";
    display: block;
    height: 15;
    position: absolute;
    right: 1.5em;
    top: 0;
    vertical-align: middle;
    width: 24px;
    padding-right: 6em;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none !important;
    outline: none !important;
}
.noStyleButton:hover {
    box-shadow: none;
    transition: none;
}
.noStyleButtonAfter {
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 24px 32px;
    content: "";
    display: block;
    height: 15;
    position: absolute;
    right: 1.5em;
    top: 0;
    vertical-align: middle;
    width: 24px;
    padding: 0;
    border: none !important;
    outline: none !important;
}
.noStyleButtonAfter:hover {
    box-shadow: none;
    transition: none;
}
.menuHidden {
    display: none;
}
