.mainContainer {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.icon {
    filter: invert(28%) sepia(96%) saturate(1279%) hue-rotate(88deg) brightness(88%) contrast(93%);
    width: 100px;
    height: auto;
    margin-bottom: 1em;
}
.icon:hover {
    transition: all 500ms ease-in-out;
    padding: 4px;
}

@media screen and (max-width: 736px) {
    .icon {
        width: 80px;
    }
}

.dataMessage {
    text-align: center;
    width: 50%;
    margin-top: 30px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #6fc3df;
    border-radius: 20px;
}

.h1 {
    color: black;
}
@media screen and (max-width: 736px) {
    .dataMessage {
        width: 90%;
    }
}

.button {
    list-style: none;
    background-color: #242943;
    padding: 0;
}

.button > li {
    padding: 0;
}
